{% extends 'base.html.twig' %}
{% block body %}
 {% if tree is empty %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('device.show') }}">{{'devices'|trans}}</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{'editing'|trans}}</li>
      </ol>
    </nav>
    {% else%}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{{ path('device.show') }}">{{'devices'|trans}}</a></li>
		{% for node in tree %}
		    <li class="breadcrumb-item"><a href="{{ path('device.show',{id: node.id}) }}">{{ node.name }}</a></li>
		{% endfor %}
		    <li class="breadcrumb-item active" aria-current="page">{{'editing'|trans}}</li>
	  </ol>
	</nav>
    {% endif %}
    <div class="mb-3 ">
    <h2 class="pull-left ">{{'editing'|trans}}</h2>
    {{ form_start(deleteForm, {'attr': {'class': 'navbar-form navbar-right'}}) }}
        {{ form_widget(deleteForm) }}
        <button type="submit" class="btn btn-danger pull-right" onclick="return confirm('Вы действительно хотите удалить данную услугу?')">
            {{'delete'|trans}}
        </button>
    {{ form_end(deleteForm) }}
   </div>
   <div style="clear:both"></div>
   <div style="margin-top:3%">
        {{ form_start(form) }}
        {{ form_row(form.name)}}
        {{ form_row(form.device)|replace({"&amp;": "&"})|raw }}
        {{form_widget(form)}}
            <div class="form-group">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">
                    {{'edit'|trans}}</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
